@import url('https://fonts.googleapis.com/css?family=Barlow|Major+Mono+Display&display=swap');

body {
  background-color: rgb(250, 250, 250);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.font-barlow-sc {
  font-family: 'Barlow', cursive;
}

.font-number {
  font-family: 'Major Mono Display', monospace;
}

.p-30 {
  padding: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.credit-card {
  box-sizing: content-box;
  width: 350px;
  height: 190px;
  background-color: rgb(37,92,190);
  background-image: url('https://s2.best-wallpaper.net/wallpaper/1920x1080/1706/Blue-abstract-background-curve_1920x1080.jpg');
  border-radius: 15px;
  padding: 30px;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(111,111,111,0.3);
  -moz-box-shadow: 0px 5px 30px 0px rgba(111,111,111,0.3);
  box-shadow: 0px 5px 30px 0px rgba(111,111,111,0.3);
  position: relative;
  z-index: 1;
}

.logo-visa {
  height: 20px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-white {
  color: rgb(255,255,255);
}

.text-blue {
  color: rgb(37,92,190);
}

.text-gray {
  color: rgb(126, 126, 126);
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.m-auto {
  margin: auto;
}

.size-card-info {
  font-size: 0.55rem;
  letter-spacing: 0.2rem;
  line-height: 1rem;
}

.size-card-user {
  font-size: 1rem;
}

.size-card-number {
  font-size: 1.8rem;
}

.size-icon {
  font-size: 5rem;
}

.size-text-val {
  font-size: 1.5rem;
}

.valid-text {
  color: rgb(17,204,137);
}

.invalid-text {
  color: rgb(255,128,135);
}

.user-interaction {
  padding: 190px 30px 30px;
  max-width: 600px;
  /* margin: 30px;
  transform: translateY(-190px); */
  margin: -150px auto 30px;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(111,111,111,0.3);
  -moz-box-shadow: 0px 5px 30px 0px rgba(111,111,111,0.3);
  box-shadow: 0px 5px 30px 0px rgba(111,111,111,0.3);
}

.form-card {
  margin-bottom: 30px;
}

.user-interaction h2 {
  margin-bottom: 15px;
}

.form-card label {
  display: block;
  margin-bottom: 5px;
  color: rgb(126, 126, 126);
}

.form-card input {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgb(194, 194, 194);
  color: rgb(126, 126, 126);
  width: 100%;
  outline: none;
}

.btn {
  padding: 15px;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  border-radius: 10px;
  background-color: rgb(37,92,190);
  color: rgb(255,255,255);
  border: rgb(37,92,190);
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}